{% extends 'Layout/layout.html.twig' %}

{% block main %}
    {% set items = {
        1: {
            'title': 'Services',
            "url": '/services'
        },
        2: {
            'title': service.title,
            'url': service.url
        }
    }
    %}
    {% include 'blocks/breadcrumbs.html.twig' with items %}
    {% if service.description is defined %}

        <section class="section section-xl bg-default">
            <div class="container">
                <div class="row row-30 box-ordered">
                    <div class="col-12 col-md-9">
                        <article class="box-icon-modern">
                            {{ service.description|raw }}
                        </article>
                    </div>

                </div>
            </div>
        </section>
    {% endif %}
{% endblock %}
