{#{% use "form_div_layout.html.twig" %}#}

{#{% block vich_image_widget -%}#}
{#    {{ dump() }}#}

{#    <div class="form-group">#}
{#        <label for="service_imageFile_file">File</label>#}
{#        <div class="custom-file">#}
{#            <input#}
{#                    type="file"#}
{#                    id="service_imageFile_file"#}
{#                    name="service[imageFile][file]"#}
{#                    class="custom-file-input">#}
{#            <label#}
{#                    for="service_imageFile_file"#}
{#                    lang="fr"#}
{#                    class="custom-file-label">#}
{#            </label>#}
{#        </div>#}
{#    </div>#}
{#    #}{#    {{ form_label(form) }}#}
{#    {{ form_widget(form) }}#}

{#{%- endblock vich_image_widget %}#}
