<section class="section section-xl bg-default" id="apropos">
    <div class="container">
        <h3 class="wow fadeScale">À Propos</h3>
        <div class="row row-30 row-lg justify-content-center">
            <div class="col-sm-8 col-md-7 col-lg-6 wow fadeInLeft"><img src="/build/images/about-4-570x511.jpg"
                                                                        alt="" width="570" height="511"/>
            </div>
            <div class="col-md-10 col-lg-6 wow fadeInRight">
                <!-- Bootstrap tabs-->
                <div class="tabs-custom tabs-jean" id="tabs-1">
                    <!-- Tab panes-->
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="tabs-1-1">
                            <div class="box-info-creative">
                                <h4 class="box-info-creative-title"><a href="#">Our Pet Shop’s mission lies
                                        in providing quality care for pets.</a></h4>
                                <div class="box-info-creative-text">We want our clients and their pets to
                                    receive the best service and goods, that’s why we work only with proven
                                    and respected manufacturers.
                                </div>
                                {#                                            <a class="link-classic box-info-creative-link" href="#">Read more</a>#}
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tabs-1-2">
                            <div class="box-info-creative">
                                <h4 class="box-info-creative-title"><a href="#">Aiming to be the leading
                                        place for pet care and shopping</a></h4>
                                <div class="box-info-creative-text">Our vision at Puffles is to become the
                                    #1 online store for pets as well as the space where owners can get any
                                    kind of pet-related services at an affordable price.
                                </div>
                                {#                                            <a class="link-classic box-info-creative-link" href="#">Read more</a>#}
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tabs-1-3">
                            <div class="box-info-creative">
                                <h4 class="box-info-creative-title"><a href="#">We always strive for being
                                        professional and consistent</a></h4>
                                <div class="box-info-creative-text">Our work is defined by certain values
                                    that include excellence, care, professionalism, innovation, and
                                    consistency. We aim to provide the best pet care services to you.
                                </div>
                                {#                                            <a class="link-classic box-info-creative-link" href="#">Read more</a>#}
                            </div>
                        </div>
                    </div>
                    <!-- Nav tabs-->
                    <div class="nav-tabs-wrap">
                        <ul class="nav nav-tabs">
                            <li class="nav-item" role="presentation"><a class="nav-link active"
                                                                        href="#tabs-1-1" data-toggle="tab">Notre
                                    mission</a></li>
                            <li class="nav-item" role="presentation"><a class="nav-link" href="#tabs-1-2"
                                                                        data-toggle="tab">Notre vision</a>
                            </li>
                            <li class="nav-item" role="presentation"><a class="nav-link" href="#tabs-1-3"
                                                                        data-toggle="tab">Nos valeurs</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
