<section class="section section-xxl bg-primary context-dark bg-position-1 " id="accueil"
         style="background-image: url({{ asset('/build/images/hero-banner.jpg') }})">
    <div class="container">
        <div class="row justify-content-start">
            <div class="col-xl-7 col-md-8 text-left">
                <h1 class="lt-spacing-normal" data-caption-animate="fadeInLeft" data-caption-delay="100">
                    L’allié[e] </h1>
                <h3 class="lt-spacing-75 offset-top-10 text-transform-uppercase heading-devider">Chien
                    d’assistance</h3>
                <h4 class="lt-spacing-100 offset-top-25 font-weight-regular"
                    data-caption-animate="fadeInLeft" data-caption-delay="400">Nous entraînons tous nos chiens<br> avec
                    des méthodes basées sur<br> le renforcement positif.</h4>

            </div>
        </div>
    </div>
</section>
