<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<title>L’allié[e] Chien d'assistance</title>

<!-- Useful meta tags -->
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="robots" content="index, follow, noodp">
<meta name="googlebot" content="index, follow">
<meta name="google" content="notranslate">
<meta name="format-detection" content="telephone=no">

<!-- Favicon -->


{% block stylesheets %}{% endblock %}

<body class="home header-absolute-true ">

{% block body %}{% endblock %}

</body>
{#{% include 'blocks/cart.html.twig' %}#}
{#{% include 'blocks/menu.html.twig' %}#}

{% block javascripts %}{% endblock %}


</html>
